extends ../layout

block content
    h2= title
    form(method="post", action="/todos/#{id}?_method=put")
      input(type="hidden", name="id", value=id)
      input(type="text", name="name", value=todo.name)
      input(type="text", name="description", value=todo.description)
      input.m-btn(type="submit", value="update")
    a(href="/todos/") Todos