extends ../layout_after_login

block content
  section
    h2= title
    ul.m-todos
      each todo, index in todos
        li.m-todos-item.l-table
          .m-todos-item__title.l-table-cell
            a(href="/todos/#{todo._id}") #{index}:#{todo.name}
          .m-todos-item__menu.l-table-cell
              a.m-btn(href="/todos/#{todo._id}/edit") edit
              form(method="post", action="/todos/#{todo._id}?_method=delete")
                input.m-btn(type="submit", value="del")
                input(type="hidden", name="_csrf", value="#{csrfToken}")
                input(type="hidden", name="id", value="#{todo._id}")
    a(href="/todos/new") Create Todo
